#!/usr/bin/env node

// replace .git/hooks/pre-commit hook by these lines
//
// will run `npm test` and prevent commits on test fail
// or .git/hooks/post-commit, .git/hooks/pre-commit, .git/hooks/post-receive, ...
//
// To enable this hook, make this file executable by `chmod +x .git/hooks/pre-commit`.
//
// http://progit.org/book/ch7-3.html

var npm = require('npm');

npm.load(function(e, n) {
  this.commands.test(function(e) {
    process.exit(e ? 1 : 0);
  });
});
