# Sample npmconfig
#
# This is a sample npmrc file. Usually we keep a lot of sensitive information
# here (things like authentication tokens, email addresses, and so on), so this
# file is ignored in this project's .gitignore.
#
# To set this up, rename this file to `npmrc.ln`, kill of these comment,
# and you'll be able to install this to the correct location by running
# the project's `install.sh` script.

_auth = ---sekretz---
email = your@example.com
npat = false
loglevel = info
